@import url("../css/components/alert.css");
@import url("../css/components/avatar.css");
@import url("../css/components/badge.css");
@import url("../css/components/button.css");
@import url("../css/components/card.css");
@import url("../css/components/image.css");
@import url("../css/components/typography.css");
@import url("../css/components/modal.css");
@import url("../css/components/rating.css");

:root {
  --text-primary: #555;
  --text-secondary: #c5c3c3;

  --site-secondary-dark: #26214a;
  --site-secondary: #2a2552;
  --site-secondary-light: #6a6686;
  --site-secondary-bg: #eae9ee;

  --site-primary-dark: #34bf9e;
  --site-primary: #3ad4af;
  --site-primary-light: #c6f6d5;
  --site-primary-lighter: #ebfbf7;
  --site-primary-bg: #f8fcfb;

  /* mandate colors for components */
  --black: #212529;
  --white: #ffffff;
  --blue-bg: #e9f2fc;
  --dark-yellow: #e4ad3a;
  --yellow: #fdc040;
  --secondary-yellow: #feebc8;
  --dark-red: #e44646;
  --red: #fd4e4e;
  --secondary-red: #fed7d7;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--site-secondary);
}

.nav {
  padding: 1rem 4rem 1rem 3rem;
  background-color: var(--site-primary-bg);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-text {
  margin-left: 0 2rem;
  font-size: 4.2rem;
  font-weight: 700;
}

.logo-text span {
  color: var(--site-primary);
}

.main-section {
  padding: 2rem;
  background-color: var(--site-primary-bg);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-nav {
  flex: 1;
}

.main-nav .nav-label {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--site-primary);
  margin: 2rem auto;
  margin-left: 2rem;
}

.main-nav-ul {
  margin: 2rem;
}

.main-nav-ul li {
  font-size: 2rem;
  text-transform: lowercase;
  padding: 0.3rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.main-nav-ul li:hover {
  background-color: var(--site-primary-light);
}

.documentation {
  flex: 5;
  padding: 0 4rem;
  overflow-y: auto;
  height: 83.2vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.documentation::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.documentation {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.component-examples {
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 9px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.code-snippet {
  margin: 4rem auto;
  max-height: 30rem;
  width: 100%;
  overflow: auto;
  border-radius: 7px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.code-snippet::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.code-snippet {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ************************************* */
/* ************************************* */
/* Media queries */
/* ************************************* */
/* ************************************* */

@media (max-width: 1010px) {
  .main-section {
    padding: 2rem 0;
  }
}

@media (max-width: 930px) {
  .main-section {
    flex-direction: column;
    padding: 2rem;
  }

  .main-nav {
    display: none;
  }

  .component-examples,
  .code-snippet {
    max-width: 90vw;
  }
}

@media (max-width: 870px) {
  html {
    font-size: 55%;
    scroll-behavior: smooth;
  }

  .nav {
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
  }

  .row-ul-li {
    display: none;
  }

  .documentation {
    padding: 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .avatar-group .avatar {
    margin-left: -22px;
  }
}

@media (max-width: 520px) {
  .card-wrapper-h {
    margin: 1rem;
    padding-right: 1rem;
  }

  .card-text-primary {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .card-wrapper-h .btn-outline {
    display: none;
  }
}
