/* Start of Badges */

.icon-badge {
    position: relative;
    margin: 1rem;
  }
  
  .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2vmax;
    height: 1.2vmax;
    border-radius: 50%;
    font-weight: 500;
    font-size: 8px;
    z-index: 1;
    top: -2px;
    right: -2px;
  }
  
  .icon-badge .icon {
    color: var(--black);
  }
  
  .badge-green {
    background-color: var(--site-primary);
    color: var(--site-primary-bg);
  }
  .badge-red {
    background-color: var(--red);
    color: var(--site-primary-bg);
  }
  .badge-yellow {
    background-color: var(--yellow);
    color: var(--site-primary-bg);
  }