.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    box-shadow: 0 0 10px 5px var(--box-shadow-black05);
}

.navbar .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.nav-row-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .row-ul-li {
    margin: 0.5rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--site-secondary);
    border-radius: 5px;
    font-weight: 500;
    transition: ease-in-out 0.5s;
    padding: 0.8rem 1.5rem;
    color: var(--site-secondary);
  }