.rating-wrapper {
  padding: 2rem 4rem;
  border-radius: 4px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.05);
  margin: 2rem;
}

.star {
  font-size: 2rem;
  color: var(--site-secondary-light);
  cursor: pointer;
}

.rating-yellow-star {
  color: var(--yellow);
}
